<?xml version="1.0"?>
<config>
    <modules>
        <Packt_Featured>
            <version>1.0.0</version>
        </Packt_Featured>
    </modules>
    <frontend>
        <routers>
            <featured>
                <use>standard</use>
                <args>
                    <module>Packt_Featured</module>
                    <frontName>featured</frontName>
                </args>
            </featured>
        </routers>
        <layout>
            <updates>
                <featured>
                    <file>featured.xml</file>
                </featured>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<featured>
				<use>admin</use>
				<args>
					<module>Packt_Featured</module>
					<frontName>featured</frontName>
				</args>
			</featured>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<Packt translate="title" module="featured">
				<title>Packt</title>
				<sort_order>100</sort_order>               
				<children>
					<featured translate="title" module="featured">
						<title>Featured Products</title>
						<sort_order>0</sort_order>
						<children>
							<configuration>
								<title>Configuration</title>
								<sort_order>1</sort_order>
								<action>adminhtml/system_config/edit/section/featured</action>
							</configuration>
						</children>
					</featured>
				</children>
			</Packt>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Packt_Featured>
							<title>Featured Module</title>
							<sort_order>10</sort_order>
						</Packt_Featured>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<featured>
					<file>featured.xml</file>
				</featured>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <featured>
                <class>Packt_Featured_Model</class>
                <resourceModel>featured_mysql4</resourceModel>
            </featured>
            <featured_mysql4>
                <class>Packt_Featured_Model_Mysql4</class>
                <entities>
                    <featured>
                        <table>featured</table>
                    </featured>
                </entities>
            </featured_mysql4>
        </models>
        <resources>
            <featured_setup>
                <setup>
                    <module>Packt_Featured</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </featured_setup>
            <featured_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </featured_write>
            <featured_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </featured_read>
        </resources>
        <blocks>
            <featured>
                <class>Packt_Featured_Block</class>
            </featured>
        </blocks>
        <helpers>
            <featured>
                <class>Packt_Featured_Helper</class>
            </featured>
        </helpers>
    </global>
	<default>
		<featured>
			<featured_config>
				<enabled>1</enabled>
				<title>Featured Products Slider </title>
				<width_slider>600</width_slider>
				<height_slider>330</height_slider>
				<price>1</price>
				<addtocart>1</addtocart>
				<addtowishlist>1</addtowishlist>
				<qty>9</qty>
				<items>4</items>
				<animation>1000</animation>
				<width_thumbnail>135</width_thumbnail>
				<height_thumbnail>135</height_thumbnail>
			</featured_config>
		</featured>
	</default>
</config>
